---
import type { Recent } from '@/lib/types';
import { client } from '@/lib/tursoDb';
import FormattedDate from "@/components/FormattedDate.astro";
interface Props {
    category?: string;
    cla?: string;
}
const { category, cla } = Astro.props;
let posts: Recent[] = [];
try {
  const allPostsResponse = await client.execute(
    {sql: `select posts.title, posts.slug, posts.img, authors.username, posts.content, posts.created_at from posts left join authors on authors.id = posts.author_id ;`,
    args: []
});
  const allPosts = allPostsResponse.rows;
  posts = allPosts.map((post: any): Recent => {
    return {
      published: false,
      title: post.title,
      slug: post.slug,
      img: post.img,
      created_at: post.created_at,
      username: post.username,
    } 
  });
} catch (error) {
  // TODO: Handle error and notify user
}
---
        <div class="layout-content flex flex-col justify-between w-full">
                {
                    posts.map((post) => (
                    <div class="dark:bg-[#333] flex flex-row gap-x-2 justify-between dark:text-white text-black rounded group overflow-hidden transition-all group-hover:dark:shadow-[0_5px_20px_rgba(255,255,255,0.14),0_6px_6px_rgba(255,255,255,0.06)] group-hover:shadow-[0_5px_20px_rgba(0,0,0,0.14),0_6px_6px_rgba(0,0,0,0.06)]">
                    <a href={`/dashboard/edit/${post.slug}/`}>
                        <img src={post.img} class="w-[72px] rounded h-[64px] m-2 group-hover:shadow-white" />
                    <div class="flex flex-col">
                        <h3 class="group-hover:text-red-600 text-align-left font-semibold text-[#fff] text-ellipsis text-pretty mt-3">
                            <a href={`/dashboard/edit/${post.slug}/`}>{post.title}</a></h3>
                        <span class="recent-date">Publicada: <FormattedDate date={post.publish_date || post.created_at} /></span>  
                    </div>
                    <span class="flex text-right mr-4 mt-3">{post.username}</span>
                    </a>
                      </div>
                    ))
                  }       
                </div>

