---
import type { All } from '@/lib/types';
import { client } from '@/lib/tursoDb';
import FormattedDate from "@/components/FormattedDate.astro";

interface Props {
    title?: string;
    cla?: string;
}
const { title, cla } = Astro.props;

let posts: All[] = [];
try {
  const allclowsResponse = await client.execute(
    {sql: `select posts.title, posts.slug, posts.img, authors.first_name, authors.last_name, posts.content, posts.created_at from posts left join authors on authors.id = posts.author_id where posts.published = 1 limit 20;`,
    args: []
});
  const allclows = allclowsResponse.rows;
  posts = allclows.map((post: any): All => {
    return {
      published: false,
      title: post.title,
      slug: post.slug,
      img: post.img,
      created_at: post.created_at,
      first_name: post.first_name,
      last_name: post.last_name,
    } 
  });
} catch (error) {
  // TODO: Handle error and notify user
}

---
<div class={cla} >
    <div class=" flex flex-row justify-between items-center self-center mb-4">
        <h2 class="text-lg uppercase font-bold tracking-wide">
            <a href="#" class="inline-flex gap-x-1">{title}</a>
        </h2>
    </div>
{
    posts.map((post) => (
    <li class="dark:bg-[#fcf0f0] dark:text-white text-black w-[23.5%] pb-2.5 rounded overflow-hidden inline-block transition-all hover:dark:shadow-[0_5px_20px_rgba(255,255,255,0.14),0_6px_6px_rgba(255,255,255,0.06)] hover:shadow-[0_5px_20px_rgba(0,0,0,0.14),0_6px_6px_rgba(0,0,0,0.06)]">
    <a class="recent-thumb" href={`/clow/${post.slug}/`} style={`background:url(${post.img}) no-repeat center center;background-size: cover`}></a>
    <div class="recent-content">
        <h3 class="hover:text-red-600 text-align-left text-base line-clamp-2 normal-case font-semibold text-[#151515] text-ellipsis h-[50px] text-pretty mt-3">
            <a href={`/clow/${post.slug}/`}>{post.title}</a>
        </h3>
        <span class="recent-date"><FormattedDate date={post.publish_date || post.created_at} /></span>
        <span class="recent-author">{post.first_name}</span>
    </div>
      </li>
    ))
  }     
</div>

<article class="post hentry" itemscope="itemscope" itemtype="http://schema.org/Article" role="main">
    <div class="post-header">
    <div class="post-header-line-1"></div>
    </div>
    <a href="https://cuantaletra.blogspot.com/2020/08/letra-papas-de-mau-ricky.html">
        <div class="post-image">
            <img width="203" height="150" src="https://1.bp.blogspot.com/-3hz_O7ytxtk/XzONU5R3BjI/AAAAAAAAWYw/EBiE5f1IeZ0uy5hdBTDzHyaGpa38rqN6QCNcBGAsYHQ/w500-h500-c/papas-ricky-mau-bmxdrp-cuanta-letra.jpg" alt="Letra - Pap치s de Mau &amp; Ricky" title="Letra - Pap치s de Mau &amp; Ricky" >
    </div>
    </a>
    <h2 class="post-title entry-title" itemprop="headline">
    <a href="https://cuantaletra.blogspot.com/2020/08/letra-papas-de-mau-ricky.html" title="Letra - Pap치s de Mau &amp; Ricky">
    Letra - Pap치s de Mau &amp; Ricky
    </a>
    </h2>
    <div class="post-information">
    <span class="time-info">
    <i class="fa fa-clock-o"></i>
    <a class="timestamp-link" href="https://cuantaletra.blogspot.com/2020/08/letra-papas-de-mau-ricky.html" rel="bookmark" title="permanent link"><abbr class="published updated" title="2020-08-12T01:34:00-05:00">8/12/2020 01:34:00 a.m.</abbr></a>
    </span>
    <span class="author-info">
    <i class="fa fa-user"></i>
    <span class="vcard" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
    <span class="fn">
    <a class="g-profile" href="https://www.blogger.com/profile/13614195717791702353" rel="author" title="author profile">
    <span itemprop="name">CuantaLetra.Co</span>
    </a>
    </span>
    </span>
    </span>
    </div>
    </article>
