---
import type { All } from '@/lib/types';
import { client } from '@/lib/tursoDb';
import Date from '@/components/FormattedDate.astro'

interface Props {
    title?: string;
    cla?: string;
    page?: number; 
}
const { title, cla, page = 0} = Astro.props;
const n = page * 20
let posts: All[] = [];
try {
  const allclowsResponse = await client.execute(
    {sql: `select posts.title, posts.slug, posts.img, authors.username, posts.content, posts.created_at from posts left join authors on authors.id = posts.author_id where posts.published = 1 order by posts.id desc limit 20 offset ${n};`,
    args: []
});
  const allclows = allclowsResponse.rows;
  posts = allclows.map((post: any): All => {
    return {
      published: false,
      title: post.title,
      slug: post.slug,
      img: post.img,
      created_at: post.created_at,
      username: post.username,
    } 
  });
} catch (error) {
  // TODO: Handle error and notify user
}
---
<div class={cla} >
    <div class="flex flex-row justify-between items-center self-center mb-4">
        <h2 class="text-lg uppercase font-bold tracking-wide">
            <a href="#" class="inline-flex gap-x-1">{title}</a>
        </h2>
    </div>
    <div class="flex flex-row flex-wrap gap-y-4 justify-between md:w-[90%] lg:w-full mx-auto">
{
    posts.map((post) => (
    <article class="dark:bg-[#fcf0f0] sm:w-[90%] md:w-[31%] lg:w-[23.5%] max-w-[280px] min-w-[175px] dark:text-white  text-black pb-2.5 rounded-xl overflow-hidden transition-all hover:dark:shadow-[0_5px_20px_rgba(255,255,255,0.14),0_6px_6px_rgba(255,255,255,0.06)] hover:shadow-[0_5px_20px_rgba(0,0,0,0.14),0_6px_6px_rgba(0,0,0,0.06)]">
    <a class="recent-thumb" href={`/post/${post.slug}/`} style={`background:url(${post.img.replace("/s1600", "/s300")}) no-repeat center center;background-size: cover;aspect-ratio: square;`}></a>
    <div class="recent-content">
        <h3 class="hover:text-red-600 text-align-left text-base line-clamp-2 w-full normal-case font-semibold text-[#151515] text-ellipsis h-[50px] text-pretty mt-3">
            <a href={`/post/${post.slug}/`}>{post.title}</a>
        </h3>
        <span class="hidden"><Date date={ post.publish_date || post.created_at} /></span>
        <span class="hidden">{post.username}</span>
    </div>
    </article>
    ))
  }     
  </div>



</div>