---
import '@/styles/global.css';
import '@/styles/awesome.min.css';
interface Props {
	title: string;
	description: string;
	image: string;
	pub: string;
  type: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, pub, type, image } = Astro.props;

const schema = {
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
		"@type": "WebPage",
		"@id": Astro.url,
  },
  "headline": title,
  "description": description,
  "image": image ? new URL(image, Astro.url) : null,
  "author": {
    "@type": "Person",
    "name": "Cipote Letra",
    "url": "https://twitter.com/CuantaLetraCo"
  },
  "publisher": {
		"@type": "Organization",
		"name": "Cipote Letra",
		"logo": {
		  "@type": "ImageObject",
		  "url": "https://i.ibb.co/8xJF3H8/logo-cipote-letra.webp"
		}
	  },
  "datePublished": pub,
};
---
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Font preloads -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} | Cipote Letra</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="fb:app_id" content="231604150229564" />
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:locale" content="es_co" />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta property="twitter:creator" content="@CuantaLetraCo" />

<!-- LinkedIn -->
<meta name="author" content="CuantaLetraCo">

<script type="application/ld+json" set:html={JSON.stringify(schema)}></script>