---
import Navbar from '@/components/navbar.astro';
import Footer from '@/components/Footer.astro';
import Base from '@/components/Base.astro';
import Pagination from '@/components/post-body/pagination.astro'
import SharePost from '@/components/post-body/share.astro';
import { client } from '@/lib/tursoDb';
import type { prev } from '@/lib/types';
import {decode} from 'html-entities'
const { id, title, content, category, yt_id, tags,created_at, img  } = Astro.props;

let posts: prev[] = [];
try {
const postResponse = await client.execute({
    sql: `select posts.title, posts.slug from posts left join authors on authors.id = posts.author_id where posts.id IN(${id} - 1, ${id} + 1) AND posts.published = 1;`,
    args: [],
  });
  const allPosts = postResponse.rows;
  posts = allPosts.map((post: any): prev => {
    return {
      title: post.title,
      slug: post.slug,
    } 
  });
} catch (error) {
}
const skills = tags.split(",");
const strac = content.substring(0, 250) + '...'
const prev = posts[0];
const next = posts[1];
const url = new URL(Astro.url);
const contentE = decode(content)
---
<!DOCTYPE html>
<html lang="es" prefix="og:http://ogp.me/ns#">
	<head>
		<Base title={title} description={strac} image={img} pub={created_at} type="article"/>
	</head>
<body>
<!-- Navbar -->
<Navbar />
<!-- Video player -->
<div id="video_player" class="w-full bg-black mb-8">
	<div class="w-full flex sm:flex-col md:flex-row justify-between mx-auto sm:px-4 md:px-0 sm:py-10 md:py-16 max-w-[1300px]">
		<div class="sm:flex sm:mx-auto md:inline-flex flex-col sm:order-1 md:order-2 sm:max-w-[640px] md:max-w-[330px] ml-2.5 sm:w-full md:w-[20%] ">
			<span class="flex text-alink uppercase font-bold text-md font-Roboto mb-10"><a  href=`/category/${category}`>{category}</a></span>
			<div class="flex text-white font-Oswald tracking-tight font-extrabold text-[2.1rem] leading-10">
				<span>
					{title}
				</span>
				<br>
				<br>
			</div>
			<span class="flex text-white font-Oswald tracking-wide font-semibold text-lg mt-10">
				!Letra Disponible Ya!
			</span>
		</div>
		<lite-youtube videoid={yt_id} videotitle={title} class="sm:order-2 md:order-1 sm:flex md:inline-flex sm:w-[100%] md:max-w-[960px] sm:h-[400px] md:w-[77%] md:h-[540px]"></lite-youtube>
	</div>
</div>
<!-- Article Page-->
<div class="flex sm:flex-col md:flex-row justify-between w-[60%] max-w-[1300px] mx-auto"><!-- reemplazar md:w-[90%] -->
	<main class="sm:w-[95%] md:w-full sm:mx-auto gap-y-6 flex-col flex mb-6"><!-- reemplazar md:w-[69%] -->
	<article itemprop="description articleBody">
	<div class="p-2.5 relative overflow-hidden text-lg text-[#555] w-[90%] bg-white shadow-[4px_4px_15px_rgba(0,0,0,0.1)] mx-auto text-center rounded -mb-[80px]"> 
		<h1 class="text-3xl p-1 font-normal font-Roboto text-pretty text-center">
		{title}
		</h1> 
		<div class="font-semibold text-center capitalize text-sm py-1 "> 
			<span class="label-info">
				<i class="fa fa-tags fa-xs"></i> 
				{skills.map((tag : string) => <a class="text-alink p-0.5 me-2 hover:text-hlink" href=`/category/${tag}` rel="tag">{tag}</a>)}
			</span> 
		</div> 
	</div>
	<div class="bg-white mt-10 px-4 py-10 border-t-white font-normal text-gray-600 rounded-lg" >
		<br />
		<div set:html={contentE} />
	</div>
	</article>
	<!-- pagination -->
	<Pagination prev={prev} next={next} />
	<!-- Compartir -->
	<SharePost href={url.toString()} title={title}/>
	<!-- Subscribirse -->
	</main>
	<aside class="flex flex-col order-2 sm:w-[90%] sm:mx-auto md:w-[29%] bg-white p-4 rounded-lg h-fit gap-y-4 md:hidden">	<!-- quitar hidden -->
	</aside>
<!-- Fin Article Page-->
</div>
<!-- Footer -->
<Footer />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Roboto:300,400,500,700,900|Oswald:300,400,500,600,700,900&amp;display=swap" media="all">
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
</body>
</html>
			  