---
import Layout from '@/layouts/layout.astro';
import Navbar from '@/components/navbar.astro';
import Footer from '@/components/Footer.astro';
import Adsheader from '@/components/ads_header.astro';
import BaseHead from '@/components/Base.astro';
import FormattedDate from '@/components/FormattedDate.astro';

const { title, description, content, category, publish_date, yt_id, tags,created_at, img, author } = Astro.props;

const skills = tags.split(",");
---
<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={title} description={description} />
	</head>
<body>
	<Navbar />
		<div class="w-full bg-black mb-8">
			<div class="w-full flex sm:flex-col md:flex-row justify-between mx-auto sm:px-4 md:px-0 sm:py-10 md:py-16 max-w-[1300px]">
				<div class="sm:flex sm:mx-auto md:inline-flex flex-col sm:order-1 md:order-2 sm:max-w-[640px] md:max-w-[330px] ml-2.5 sm:w-full md:w-[20%] ">
					<span class="flex text-alink uppercase font-bold text-sm font-Roboto"><a  href=`/category/${category}?max-results=16`>{category}</a></span>
					<br>
					<br>
					<div class="flex text-white font-Oswald tracking-tight font-extrabold text-[2.1rem] leading-10">
						<span>
							{title}
						</span>
						<br>
						<br>
					</div>
					<span class="flex text-white font-Oswald tracking-wide font-semibold text-lg mt-10">
						!Letra Disponible Ya!
					</span>
				</div>
				<lite-youtube videoid={yt_id} videotitle={title} autoload class="sm:order-2 md:order-1 sm:flex md:inline-flex sm:w-[100%] md:max-w-[960px] sm:h-[400px] md:w-[77%] md:h-[540px]"></lite-youtube>
			<!--	<iframe src=`https://www.youtube.com/embed/${yt_id}?rel=0&amp;autoplay=1` allowfullscreen="false" class="sm:order-2 md:order-1 sm:flex md:inline-flex sm:w-[100%] md:max-w-[960px] sm:h-[400px] md:w-[77%] md:h-[540px]" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> -->
			</div>
		</div>

		<div class="flex sm:flex-col md:flex-row justify-between w-[90%] max-w-[1300px] mx-auto">
			<div class="sm:w-[95%] md:w-[69%] sm:mx-auto">
				<!-- c:/Users/BMXDRP/Cuantaletra.net/src/layouts/BlogPost.astro -->
				<div class="p-2.5 relative overflow-hidden text-lg text-[#555] w-[90%] bg-white shadow-[4px_4px_15px_rgba(0,0,0,0.1)] mx-auto text-center rounded -mb-[80px]"> 
					<h1 class="text-3xl p-1 font-normal font-Roboto text-pretty text-center">
					{title}
					</h1> 
					<div class="font-semibold text-center capitalize text-sm py-1 "> 
						<span class="label-info">
							<i class="fa fa-tags fa-xs"></i> 
							{skills.map((tag : string) => <a class="text-alink p-0.5 hover:text-hlink" href=`/category/${tag}max-results=20` rel="tag">{tag}</a>)}
						</span> 
					</div> 
				</div>
				<div class="bg-white mt-10 mb-5 px-4 py-10 border-t-white font-normal text-gray-600 rounded-lg" itemprop="description articleBody">
					<br>
					<div style="text-align: center;">
					{content}
					</div>
				</div>
			</article>
			<div class="w-full overflow-hidden max-h-[120px] mx-auto bg-white px-4 py-6 rounded-md border-[#eee]  leading-normal mb-10">
				<ul class="flex flex-row justify-between"> 
				<li class="group text-left w-[49.5%] text-pretty p-[0.25em_0]">
				<a class="text-[#cfcfcf] font-bold tracking-wider decoration-transparent outline-none transition-all duration-300" href="https://cuantaletra.blogspot.com/2020/06/letra-la-mejor-version-de-mi-natti-natasha.html" id="Blog1_blog-pager-newer" title="Entrada más reciente"><strong><i class="fa fa-chevron-left"></i> Siguiente </strong><br />
					<span class="text-alink group-hover:text-hlink tracking-normal font-semibold p-[5px_8px] mb-2.5 no-underline transition-all duration-300 ease-in-out">Letra - La Mejor Version De Mi de Natti Natasha</span>
				</a>
				</li>
				<div class="sm:hidden md:flex w-0.5 bg-[#fff] shadow-2" />
				<li class="group text-right border-r-[#ececec] w-[49.5%] text-pretty p-[0.25em_0]">
				<a class="text-[#cfcfcf] font-bold tracking-wider decoration-transparent outline-none transition-all duration-300" href="https://cuantaletra.blogspot.com/2020/05/letra-dios-te-guarde-de-sech-ft-bca.html" id="Blog1_blog-pager-older" rel="prev" title="Entrada antigua"><strong>Anterior <i class="fa fa-chevron-right"></i></strong><br />
				<span class="text-alink group-hover:text-hlink tracking-normal font-semibold p-[5px_8px] mb-2.5 no-underline transition-all duration-300 ease-in-out">Letra - Dios Te Guarde de Sech Ft BCA
				</span></a>
				</li>
				</ul>
			</div>
		
				<div class="bg-white my-2.5 py-5 border-t-white font-normal text-gray-600 rounded-lg">
				<h2 class="text-xl text-center">Si te pareció interesante esta letra, 
					<strong>Compártela con tus Amigos!</strong><br /><br />—— COMPARTE EN LAS REDES SOCIALES ——
					</h2>
					<div class="compartir-post">
						<div class="share-wrapper">
							<ul class="p-[0 2.5em] mx-auto table text-center text-lg font-Roboto text-white h-10 font-normal">
							<li class="mb-1 float-left">
							<a href="//www.facebook.com/sharer.php?u=https://cuantaletra.blogspot.com/2020/06/letra-sigo-de-pie-si-me-caigo-me-levanto-mr-black.html&amp;t=Letra - Sigo de Pie (Si me caigo me levanto) de Mr Black" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank">
							<span class="relative block p-[5px_8px] mb-2.5 transition-all ease-in-out duration-300 rounded-[5px_0_0_5px] bg-blue-700"><i class="fa fa-facebook-f"></i> Facebook</span></a>
							</li>
							<li class="mb-1 float-left">
							<a href="//twitter.com/share?url=https://cuantaletra.blogspot.com/2020/06/letra-sigo-de-pie-si-me-caigo-me-levanto-mr-black.html&amp;title=Letra - Sigo de Pie (Si me caigo me levanto) de Mr Black" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank">
							<span class="relative block p-[5px_8px] mb-2.5 transition-all ease-in-out duration-300 bg-blue-500"><i aria-hidden="true" class="fa fa-twitter"></i> Twitter</span></a>
							</li>
							<li class="mb-1 float-left md:hidden">
							<a data-action="share/whatsapp/share" href="whatsapp://send?text=Letra - Sigo de Pie (Si me caigo me levanto) de Mr Black en https://cuantaletra.blogspot.com/2020/06/letra-sigo-de-pie-si-me-caigo-me-levanto-mr-black.html?utm_campaign=Whatsapp" rel="nofollow" target="_blank" title="Share this on Whatsapp">
								<span class="relative block p-[5px_8px] mb-2.5 transition-all ease-in-out duration-300 bg-green-600"><i class="fa fa-whatsapp"></i> Whatsapp</span></a>
							</li>
							<li class="mb-1 float-left">
							<a href="//www.linkedin.com/shareArticle?mini=true&amp;url=https://cuantaletra.blogspot.com/2020/06/letra-sigo-de-pie-si-me-caigo-me-levanto-mr-black.html&amp;title=Letra - Sigo de Pie (Si me caigo me levanto) de Mr Black" onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow" target="_blank">
								<span class="relative block p-[5px_8px] mb-2.5 transition-all ease-in-out duration-300 bg-blue-600"><i class="fa fa-linkedin"></i> Linkedin</span></a>
							</li>
							<li class="mb-1 float-left">
								<a href="//pinterest.com/pin/create/button/?url=https://cuantaletra.blogspot.com/2020/06/letra-sigo-de-pie-si-me-caigo-me-levanto-mr-black.html&amp;description=Esta vida me ha enseñado tantas cosas   y he crecido con cada desilusion   he aprendido mucho con cada derrota   siempre viendo de lo mal..." onclick="window.open(this.href, 'windowName', 'width=550, height=600, left=24, top=24, scrollbars, resizable'); return false;" rel="nofollow">
									<span class="relative block p-[5px_8px] mb-2.5 transition-all ease-in-out duration-300 rounded-[0_5px_5px_0] bg-red-700"><i class="fa fa-pinterest"></i> Pin It</span></a>
							</li>
							</ul>
						</div>
					</div>
				</div>
			<div class="relative shadow-[inset_0_0_10px_rgba(0,0,0,0.5)] bg-[#ededed] bg-[url('https://i.ibb.co/NK17nG5/Pattern.webp')] bg-center bg-no-repeat my-5 py-5 border-t-white font-normal text-gray-600 rounded-lg" id="sub-wrap-wrapper">
			<div id="subscribe-css">
				<div id="subscribe-note-wrap">
					<p class="subscribe-note"><span>¿No quieres esperar?</span>
					<span class="itatu">¡No hay problema!</span>
					</p>
				</div>
			<p class="group m-6 text-gray-900 text-[16px] leading-5 tracking-wide font-normal text-pretty">Suscríbete a <strong>Cuanta Letra</strong> y recibe directamente en tu correo electrónico, las últimas publicaciones antes que los demas.</p>
			<div class="text-black text-[16px] leading-normal text-center transform-none font-normal w-full relative ">
			<div class="clear-both block overflow-hidden m-[25px_auto]">
			<form action="https://feedburner.google.com/fb/a/mailverify?uri=cuantaletra" 
			class="clear-both inline-block sm:w-[90%] md:w-full max-w-[680px] overflow-hidden border-2 border-black rounded-lg" 
			id="subscribe-form" 
			method="post" 
			onsubmit="window.open ('https://feedburner.google.com/fb/a/mailverify?uri=cuantaletra', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" 
			target="popupwindow">
			<input name="uri" type="hidden" value="cuantaletra">
			<input name="loc" type="hidden" value="es_LA">
			<input autocomplete="off" class="bg-transparent text-black italic font-Oswald tracking-wider text-[17px] m-[10px_0] p-[15px_20px] w-[65%] border-none focus:outline-none " id="subscribe-css-email" name="email" placeholder="Ingresa tu correo" required="required">
			<input class="bg-black text-white cursor-pointer font-bold uppercase tracking-wider ml-[15px] transform-none text-[16px] border-none rounded-lg p-[18px_35px] h-full transition-all duration-700 hover:bg-alink hover:animate-pulse" title="" type="button" value="Subscribir"></form>
			</div>
			</div>
			</div>
		</div></div>
		<aside class="flex order-2 sm:w-[90%] sm:mx-auto md:w-[29%] " >
			<div class="sidebar-inner">
			<div class="sidebar section section" id="sidebar"><div class="widget HTML" data-version="1" id="HTML1">
			<h2 class="title">Siguenos</h2>
			<div class="widget-content">
			<div id="___ytsubscribe_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none;
			 line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 171px; height: 48px;">
			 <iframe ng-non-bindable=""  style="position: static; top: 0px; width: 171px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 48px;"
			  tabindex="0" width="100%" id="I0_1706669530212" name="I0_1706669530212" src="https://www.youtube.com/subscribe_embed?usegapi=1&amp;channelid=UCB99FkL0JO9PI9yFeZXSOYw&amp;layout=full&amp;count=default&amp;origin=https%3A%2F%2Fcuantaletra.blogspot.com&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.lb.es.IhidRqNI7zc.O%2Fd%3D1%2Frs%3DAHpOoo-J5gm9VeiPOTqB-j7baT8zv-26Rg%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&amp;id=I0_1706669530212&amp;_gfid=I0_1706669530212&amp;parent=https%3A%2F%2Fcuantaletra.blogspot.com&amp;pfname=&amp;rpctoken=55145261" data-gapiattached="true"></iframe></div>
			<hr>
			<div class="fb-page" data-href="https://www.facebook.com/cuantaletra.co" data-width="" data-height="" data-small-header="yes" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cuantaletra.co" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cuantaletra.co">CuantaLetra.Co</a></blockquote></div><hr><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 183px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.2f70fb173b9000da126c79afe2098f02.es.html#dnt=false&amp;id=twitter-widget-0&amp;lang=es&amp;screen_name=CuantaLetraCo&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1706669531122" data-screen-name="CuantaLetraCo"></iframe><script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="clear"></div>
			</div><div class="widget FeaturedPost" data-version="1" id="FeaturedPost1">
			<h2 class="title">Entrada destacada</h2>
			<div class="post-summary">
			<h3><a href="https://cuantaletra.blogspot.com/2020/08/letra-papas-de-mau-ricky.html">Letra - Papás de Mau &amp; Ricky</a></h3>
			<img class="image" src="https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" >
			</div>
			<style type="text/css">
				.image {
				  width: 100%;
				}
			  </style>
			<div class="clear"></div>
			</div><div class="widget PopularPosts" data-version="1" id="PopularPosts1">
			<h2>Top 5 Semanal</h2>
			<div class="widget-content popular-posts">
			<ul>
			<li>
			<div class="item-content">
			<div class="item-thumbnail">
			<a href="https://cuantaletra.blogspot.com/2019/11/letra-salud-por-el-de-paola-jara.html" target="_blank">
			<img alt=""  src="https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png"  width="80" height="60">
			</a>
			</div>
			<div class="item-title"><a href="https://cuantaletra.blogspot.com/2019/11/letra-salud-por-el-de-paola-jara.html">Letra - Salud Por El de Paola Jara</a></div>
			<div class="item-snippet">   Salud por el   por los ...</div>
			</div>
			
			</li>
			<li>
			<div class="item-content">
			<div class="item-thumbnail">
			<a href="https://cuantaletra.blogspot.com/2016/09/letra-el-tambor-de-koffe-el-kafetero.html" target="_blank">
			<img alt="" src="https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" width="80" height="60">
			</a>
			</div>
			<div class="item-title"><a href="https://cuantaletra.blogspot.com/2016/09/letra-el-tambor-de-koffe-el-kafetero.html">Letra - El Tambor de Koffe el Kafetero</a></div>
			<div class="item-snippet">         Me quedo contigo una ...</div>
			</div>
			
			</li>
			<li>
			<div class="item-content">
			<div class="item-thumbnail">
			<a href="https://cuantaletra.blogspot.com/2019/12/letra-el-conteo-de-dandy-bway.html" target="_blank">
			<img alt="" src="https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" width="80" height="60">
			</a>
			</div>
			<div class="item-title"><a href="https://cuantaletra.blogspot.com/2019/12/letra-el-conteo-de-dandy-bway.html">Letra - El Conteo de Dandy Bway</a></div>
			<div class="item-snippet">   Cinco son mis dedos y a ...</div>
			</div>
			
			</li>
			<li>
			<div class="item-content">
			<div class="item-thumbnail">
			<a href="https://cuantaletra.blogspot.com/2016/10/letra-besame-de-luister-la-voz.html" target="_blank">
			<img alt="" src="https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" width="80" height="60">
			</a>
			</div>
			<div class="item-title"><a href="https://cuantaletra.blogspot.com/2016/10/letra-besame-de-luister-la-voz.html">Letra - Besame de Luister la Voz</a></div>
			<div class="item-snippet">         Besame despacio y ...</div>
			</div>
			
			</li>
			<li>
			<div class="item-content">
			<div class="item-thumbnail">
			<a href="https://cuantaletra.blogspot.com/2015/03/letra-el-dilema-de-zaider.html" target="_blank">
			<img alt="" src="https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png" width="80" height="60">
			</a>
			</div>
			<div class="item-title"><a href="https://cuantaletra.blogspot.com/2015/03/letra-el-dilema-de-zaider.html">Letra - El Dilema de Zaider</a></div>
			<div class="item-snippet">         Me hablo mi ...</div>
			</div>
			
			</li>
			</ul>
			</div>
			</div><div class="widget HTML" data-version="1" id="HTML3">
			<h2 class="title">Random</h2>
			<div class="widget-content">
			<div id="abt-random">
			<a href="#random" id="luckyNum" rel="203" style="background: url(&quot;https://3.bp.blogspot.com/-YcM4gHFmC9I/VtQiPmamGMI/AAAAAAAAQOA/HIOgzbUPQts/s1600/random-post-link.png&quot;); max-width: 300px; width: 100%; max-height: 100px; height: 100px; display: flex;"> </a></div>
			</div>
			<div class="clear"></div>
			</div><div class="widget LinkList" data-version="2" id="LinkList70">
			
					 
			</div><div class="widget LinkList" data-version="2" id="LinkList71">
			
					
					
			</div></div>
			
			</aside>
		</div>
		<Footer />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900|Roboto:300,400,500,700,900|Oswald:300,400,500,600,700,900&amp;display=swap" media="all">
		<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
		</body>
			</html>
			  